
.container{
  padding: 65px 144px;
  display: flex;
  flex-direction: column;
}
.share-btn{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 208px;
  top: 25px;
  background: #FFFFFF;
  border: 1px dashed #D0D5DD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-btn:hover {
  background: #F9FAFB;
}
.share-btn:hover .share-btn-popup{
  display: flex;
}
.share-btn-popup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 12px;
  width: 85px;
  height: 34px;
  background: #101828;
  border-radius: 8px;
  position: absolute;
  left: -95px;
  top: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  display: none;
}
.share-btn-popup::after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: 11px;
  background: #101828;
  border-radius: 1px;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}
.share-btn:hover{
  cursor: pointer;
}
.profile__section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 56px;
}
.profile__name{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
}
.img_container{
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 275px;
  margin-bottom: 24px;
  overflow: hidden;
}

#profile__img{
  background: url('./assets/profile.jpg');
  background-position: center;
  background-size: contain;
}

.img_container:hover {
  cursor: pointer;
}

.img_container:hover .profile__upload{
  display: flex;
}

.profile__upload{
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: 100px;
  background: linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75));
}

.profile__upload img{
  margin-bottom: 15px;
}

.link__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  width: 100%;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 10px;

  /*  */
  
  color: #101828;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.link:hover{
  background: #D0D5DD;
  cursor: pointer;
}

.link__social{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  gap: 64px;
}
.link__social__buttons{
  padding: 24px 0px;
}
.link__social__buttons a{
  margin-right: 26px;
}
.link__social__buttons a img{
  height: 24px;
  width: 24px;
}
.link__social__buttons a:last-of-type{
  margin-right: 0px;
}

.footer__section{
  padding: 48px 112px;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EAECF0;
  padding: 32px 0px 0px;
}
.footer__container img{
  height: 24px;
  width: 185px;
}

.footer__section h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}